* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500px;
  margin-bottom: 32px;
  color: #3F3D56;
}

h1 span {
  font-weight: bold;
  color: #EE24FF
}

p {
  color: #828282;
}

p strong {
  color: #3F3D56;
}

p #footer {
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;

}

#main {
  width: 626px;
  margin: 0 auto 64px;
}

#main img {
  margin-top: 64px;
  margin-bottom: 72px;
}

#footer a + a {
  margin-left: 42px;
}

#line {
  width: 391px;
  height: 0;
  margin: 0 auto 16px;
  border: 1px solid #ECEFF2;
}

#wave {
  position: relative;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #3F3D56;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 41px;
}